<div class="card">
  <%= image_tag ("#{@user.photo}") %>
  <h2><%= @user.name %></h2>
  <p>Number of posts: <%= @user.posts_counter %></p>
</div>
<div class="card">
  <h2>Bio</h2>
  <p> <%= @user.bio %></p>
</div>

<!--recent_posts-->
<ul id="user_posts">
  <% @user.recent_posts.each_with_index do |post,index| %>
    <li>
      <div class="card">
        <h2><%= post.title %> #<%= (index + 1) %></h2>
        <p><%= post.text %></p>
        <div>
            <div>Comments <span><%= post.comments_counter %></span></div>
            <div>Likes <span><%= post.likes_counter %></span></div>
        </div>
      </div>
      <% if defined?(comments) && comments  %>
        <ul>
          <!--        recent_comments-->
          <% post.recent_comments.each do |comment| %>
            <li>
              <h6><%= comment.author.name %></h6>
              <p>
                <%= comment.text %>
              </p>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
  <% if defined?(comments) && comments  %>
    <button>Pagination</button>
  <%else %>
    <button>See All Project</button>
  <%end %>
</ul>
