<div class="list-box">
  <h1 class="leading header">USER POSTS</h1>
  <div class="card row">
    <%= image_tag(@user.photo, class: "portrait") %>
    <div class="d-flex flex-column justify-space-between w-100">
      <h2 class="header text-start"><%= @user.name %></h2>
      <p class="text-end text-light">Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>
  <div class="card">
    <h2>Bio</h2>
    <p> <%= @user.bio %></p>
  </div>

  <!--recent_posts-->
  <ul id="user_posts">
    <li>
      <div class="text-end">
        <%= link_to new_post_path(@user.id) do %>
          <button class="btn btn-default mx-auto">NEW POST</button>
        <% end %>
      </div>

    </li>
    <% @user.recent_posts.each_with_index do |p, i| %>
      <li class="bordered">
        <%= render 'partials/post_item', post: p, index: i %>
      </li>
    <% end %>
  </ul>
  <div class="text-cent mt-5">
    <%= link_to "#{@user.id}/posts" do %>
      <button class="btn btn-default mx-auto">See All Project</button>
    <% end %>
  </div>
</div>