<div class="list-box">
  <h1 class="leading header">USER POSTS COMMENTS</h1>
  <% flash.each do |type, msg| %>
    <div class="text-success">
      <%= msg %>
    </div>
  <% end %>
  <div class="card row">
    <%= image_tag(@user.photo, class: "portrait") %>
    <div class="d-flex flex-column justify-space-between w-100">
      <h2 class="header text-start"><%= @user.name %></h2>
      <p class="text-end text-light">Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>
  <div class="card">
    <h2>Bio</h2>
    <p> <%= @user.bio %></p>
  </div>
  <!--recent_posts-->
  <ul id="user_posts">
    <% @user.posts_desc.each_with_index do |p, i| %>
      <li class="bordered">
        <%= render 'partials/post_item', post: p, index: i %>
        <% if p.recent_comments.length.positive? %>
          <ul class="ml-2">
            <!--        recent_comments-->
            <li><h3 class="header text-start text-light">Comments</h3></li>
            <% p.recent_comments.includes(:author).each do |comment| %>
              <li class="d-flex">
                <h4><%= comment.author.name %> :
                  <% if can? :destroy, User %>
                    <%= button_to "Delete", single_comment_path(comment.id), remote: true, data: { confirm: 'Are you sure?' }, method: :delete %>
                  <% end %>
                </h4>
                <p class="ml-1">
                  <%= comment.text %>
                </p>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="text-center mt-5">
    <button class="btn btn-default mx-auto">Pagination</button>
  </div>
</div>