<div class="list-box">
  <h1 class="leading header">POST DETAILS</h1>
  <% flash.each do |type, msg| %>
    <div class="text-success">
      <%= msg %>
    </div>
  <% end %>
  <div class="card d-flex flex-column justify-space-between w-100">
    <div class="d-flex justify-space-between">
      <h2 class="header text-start"><%= @post.title %> by <%= @post.author.name %> </h2>
      <%= render 'partials/comments_likes', post:@post %>
    </div>
    <p><%= @post.text %></p>
  </div>
  <% if @post.recent_comments.length.positive? %>
    <ul class="ml-2">
      <!--        recent_comments-->
      <li><h3 class="header text-start text-light">Comments</h3></li>
      <% @post.comments_desc.includes([:author]).each do |comment| %>
        <li class="d-flex">
          <h4><%= comment.author.name %> :
            <% if can? :destroy, User %>
              <%= button_to "Delete", single_comment_path(comment.id), remote: true, data: { confirm: 'Are you sure?' }, method: :delete %>
            <% end %>
          </h4>
          <p class="ml-1">
            <%= comment.text %>
          </p>
        </li>
      <% end %>
    </ul>
    <div class="text-end mt-2">
      <%= link_to new_comment_path(@post.id) do %>
        <button class="btn btn-default btn-sm mx-auto">Add Comment</button>
      <% end %>
    </div>
  <% end %>
</div>